
body{
    margin: 20px;
}
.div1{
    background-color: #eee;
   border:1px solid #999;
margin: 20px;
padding: 20px;
overflow: hidden;
}
.div3{
    background-color: #ffffff;
    border:1px solid #999;
    margin: 0 180px 40px 260px;
    height: 300px;
}
.div2{
    background-color: #ffffff;
    border:1px solid #999;
    width: 200px;
    height: 120px;
    padding: 20px;
    float: left;
}

.div4{
    background-color: #ffffff;
    border:1px solid #999;
    width: 120px;
    padding: 20px;
    float: right;
}
img{
    height: 80px;
    width: 80px;
    margin: 20px;
}
.img{
    float: left;
    margin-right: 20px;
}

#divimg{
    float: left;
}